h2 {
    padding-left: 12px;
}

h4 {
    font-size: 24px;
    margin: 0px;
    font-weight: normal;
}

/* .current-weather-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px 0px;
    background-color: #8476ae;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
} */

.current-weather-header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--main-bg-color);
    height: 32px;
    padding: 12px 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.current-weather-container {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

.current-weather-column {
   /* padding-left: 20px; */
}

.current-temp {
    font-size: 96px;
    font-weight: bold;
    margin: 0px;
    display: flex;
}

.current-conditions {
    display: flex;
    font-size: 18px;
    justify-content: left;
    width: 100%;
    text-transform: capitalize;
}

.current-feels-like {
    display: flex;
    font-size: 18px;
    justify-content: left;
    
}

/* .weather-conditions-container {

} */

.weather-icon {
    height: 192px;
    width: 192px;
}