form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

button {
    background-color: var(--main-button-color);
    color: var(--text-color-dark);
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 10px;
}