form {
    display: flex;
    justify-content: space-between;
}

input {
    font-size: 16px;
    padding: 8px;
    color: var(--text-color-light);
    background-color: var(--secondary-bg-color);
    border-style: hidden;
    border-radius: 45px;
    text-align: center;
    width: 400px;
}

::placeholder {
    color: var(--text-color-light);
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
}

input:focus::placeholder {
    color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
input:-webkit-autofill::first-line {
    -webkit-box-shadow: 0 0 0 30px var(--secondary-bg-color) inset !important;
    -webkit-text-fill-color: var(--text-color-light);
    caret-color: var(--text-color-light);
    text-align: center;
    font-size: 16px !important;
}

button {
    background-color: var(--secondary-bg-color);
    color: var(--text-color-light);
    font-size: 18px;
    padding: 8px;
    margin-left: -35px; 
    border-radius: 45px; 
    border-style: hidden;
    font-size: 16px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color-light);
    border-radius: 45px;
    background-color: var(--secondary-bg-color);
    border-style: solid;
    border: 5px solid var(--text-color-light);
    text-align: right;
}

.input-container:focus-within {
    border: 4px solid var(--text-color-light)
}