
::placeholder {
    color: var(--text-color-light);
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
}

input:focus::placeholder {
    color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:focus-active,
input:-webkit-autofill:active,
input:-webkit-autofill::first-line {
    -webkit-box-shadow: 0 0 0 30px var(--secondary-bg-color) inset !important;
    -webkit-text-fill-color: var(--text-color-light);
    caret-color: var(--text-color-light);
    text-align: center;
    font-size: 16px !important;
}

.input-container:focus-within {
    border: 4px solid var(--text-color-light)
}