.App {
  min-height: 100vh;
  width: 100%;
  background: var(--main-bg-color);
  background-image: var(--gradient-primary);
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color-light);
}

