
:root {
  /* COLORS */
  --primary-bg-color: #130932;
  --secondary-bg-color: #54416d;
  --sunny-bg-color: #c20114;
  --cloudy-bg-color: #000000;
  --rainy-bg-color: #313131;
  --text-color-light: #F9F5FF;
  --text-color-dark: #000000;
  --main-button-color: 	#8fe0ff;
  --gradient-primary: linear-gradient(180deg, #31255a 0%, #54416d 74%);
  --gradient-sunny: linear-gradient(180deg, #c20114 0%, #e8c547 74%);
  --gradient-cloudy: linear-gradient(180deg, #000000 0%, #cccccc 74%);
  --gradient-rainy: linear-gradient(180deg, #313131 0%, #4b799a 74%);
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.5s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
